services:
  postgres_account:
    image: postgres:15
    environment:
      POSTGRES_USER: account_user
      POSTGRES_PASSWORD: account_pass
      POSTGRES_DB: account_db
      TZ: "Asia/Ho_Chi_Minh"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U account_user -d account_db" ]
      interval: 5s
      timeout: 3s
      retries: 10
    ports:
      - "5432:5432"
    volumes:
      - pgdata_account:/var/lib/postgresql/data
      - ./account_service/db/migrations:/docker-entrypoint-initdb.d

  postgres_payment:
    image: postgres:15
    environment:
      POSTGRES_USER: payment_user
      POSTGRES_PASSWORD: payment_pass
      POSTGRES_DB: payment_db
      TZ: "Asia/Ho_Chi_Minh"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U payment_user -d payment_db" ]
      interval: 5s
      timeout: 3s
      retries: 10
    ports:
      - "5433:5432"
    volumes:
      - pgdata_payment:/var/lib/postgresql/data
      - ./payment_service/db/migrations:/docker-entrypoint-initdb.d

  postgres_journey:
    image: postgres:15
    environment:
      POSTGRES_USER: journey_user
      POSTGRES_PASSWORD: journey_pass
      POSTGRES_DB: journey_db
      TZ: "Asia/Ho_Chi_Minh"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U journey_user -d journey_db" ]
      interval: 5s
      timeout: 3s
      retries: 10
    ports:
      - "5434:5432"
    volumes:
      - pgdata_journey:/var/lib/postgresql/data
      - ./journey_service/db/migrations:/docker-entrypoint-initdb.d

  postgres_scheduler:
    image: postgres:15
    environment:
      POSTGRES_USER: scheduler_user
      POSTGRES_PASSWORD: scheduler_pass
      POSTGRES_DB: scheduler_db
      TZ: "Asia/Ho_Chi_Minh"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U scheduler_user -d scheduler_db" ]
      interval: 5s
      timeout: 3s
      retries: 10
    ports:
      - "5435:5432"
    volumes:
      - pgdata_scheduler:/var/lib/postgresql/data
      - ./scheduler_service/db/migrations:/docker-entrypoint-initdb.d

  account_service:
    build:
      context: .
      dockerfile: account_service/Dockerfile
    environment:
      SERVICE_HOST: "0.0.0.0"
      SERVICE_PORT: "8080"
      ACCOUNT_DATABASE_URL: "postgresql+psycopg2://account_user:account_pass@postgres_account:5432/account_db"
      HOLD_EXPIRES_MIN: "15"
      REDIS_URL: "redis://redis:6379/0"
      TZ: "Asia/Ho_Chi_Minh"
    depends_on:
      postgres_account:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8081:8080"

  authentication_service:
    build:
      context: .
      dockerfile: authentication_service/Dockerfile
    environment:
      ACCOUNT_SERVICE_URL: "http://account_service:8080"
      JWT_SECRET: "dev-secret"
      JWT_ALG: "HS256"
      JWT_EXPIRES_MIN: "60"
      PASSWORD_SALT: "dev-salt"
      TZ: "Asia/Ho_Chi_Minh"
    depends_on:
      account_service:
        condition: service_started
    ports:
      - "8082:8080"

  payment_service:
    build:
      context: .
      dockerfile: payment_service/Dockerfile
    environment:
      PAYMENT_DATABASE_URL: "postgresql+psycopg2://payment_user:payment_pass@postgres_payment:5432/payment_db"
      REDIS_URL: "redis://redis:6379/0"
      TZ: "Asia/Ho_Chi_Minh"
    depends_on:
      postgres_payment:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8083:8080"

  journey_service:
    build:
      context: .
      dockerfile: journey_service/Dockerfile
    environment:
      JOURNEY_DATABASE_URL: "postgresql+psycopg2://journey_user:journey_pass@postgres_journey:5432/journey_db"
      TZ: "Asia/Ho_Chi_Minh"
    depends_on:
      postgres_journey:
        condition: service_healthy
    ports:
      - "8084:8080"

  notification_service:
    build:
      context: .
      dockerfile: notification_service/Dockerfile
    environment:
      SMTP_HOST: "smtp.gmail.com"
      SMTP_PORT: "587"
      SMTP_USER: "trananhm265@gmail.com"
      SMTP_PASSWORD: "mtaixgkchrxwjmrt"
      EMAIL_FROM: "trananhm265@gmail.com"
      DRY_RUN: "false"
      ACCOUNT_SERVICE_URL: "http://account_service:8080"
      TZ: "Asia/Ho_Chi_Minh"
    depends_on:
      authentication_service:
        condition: service_started
    ports:
      - "8086:8080"

  scheduler_service:
    build:
      context: .
      dockerfile: scheduler_service/Dockerfile
    environment:
      SCHEDULER_DATABASE_URL: "postgresql+psycopg2://scheduler_user:scheduler_pass@postgres_scheduler:5432/scheduler_db"
      REDIS_URL: "redis://redis:6379/0"
      TZ: "Asia/Ho_Chi_Minh"
    depends_on:
      postgres_scheduler:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8087:8080"

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    environment:
      SERVICE_HOST: "0.0.0.0"
      SERVICE_PORT: "8080"
      JWT_SECRET: "dev-secret"
      JWT_ALG: "HS256"
      ACCOUNT_SERVICE_URL: "http://account_service:8080"
      PAYMENT_SERVICE_URL: "http://payment_service:8080"
      JOURNEY_SERVICE_URL: "http://journey_service:8080"
      NOTIFICATION_SERVICE_URL: "http://notification_service:8080"
      AUTHENTICATION_SERVICE_URL: "http://authentication_service:8080"
      SCHEDULER_SERVICE_URL: "http://scheduler_service:8080"
      REDIS_URL: "redis://redis:6379/0"
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "8000:8080"
    command: [ "uvicorn", "gateway.app.main:app", "--host", "0.0.0.0", "--port", "8080" ]
    depends_on:
      authentication_service:
        condition: service_started

  redis:
    image: redis:7
    command: [ "redis-server", "--appendonly", "yes" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 10
    ports:
      - "6379:6379"

volumes:
  pgdata_account:
  pgdata_payment:
  pgdata_journey:
  pgdata_scheduler:
